@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
@import "tailwindcss";
:root {
  /* Primary Colors - Deep teal */
  --color-primary-base: #043c3c;
  --color-primary-hover: #033333;
  --color-primary-pressed: #022a2a;
  --color-primary-disabled: #9fb7b7;
  --color-primary-focus: transparent;

  /* Secondary Colors - Cool Blue */
  /* --color-secondary-base: #2980b9;
  --color-secondary-hover: #2471a3;
  --color-secondary-pressed: #1f618d;
  --color-secondary-disabled: #a9cce3;
  --color-secondary-focus: transparent; */

  /* Background & Card & Text */
  --color-bg-base: #faf9f7;
  --color-bg-card: #eaf4f3;
  --color-bg-text: #f4f6f7;
  --color-bg-text-dark: #2c3e50;
  --color-bg-muted-text: #7f8c8d;
  --color-bg-divider: #8aa7a5;

  /* Danger Colors - Premium Red */
  --color-danger-light: #c62828; /* Premium red */
  --color-danger-dark: #b71c1c;
  --color-danger-dark-plus: #8e0000;

  /* Success Colors - Premium Green */
  --color-success-light: #2e7d32; /* Premium green */
  --color-success-dark: #1b5e20;
  --color-success-dark-plus: #0d3b12;

  /* Warning Colors - Premium Amber */
  --color-warning-light: #ffb300; /* Premium amber */
  --color-warning-dark: #ffa000;
  --color-warning-dark-plus: #ff8f00;
}

html,
body {
  background-color: var(--color-bg-base);
  font-family: "Cairo", sans-serif;
}

/* Utility classes for success and danger states */
.success {
  background-color: var(--color-success-light);
  color: var(--color-bg-text);
  cursor: pointer;
}
.success:hover {
  background-color: var(--color-success-dark);
}
.success:active {
  background-color: var(--color-success-dark-plus);
}
.success:disabled {
  background-color: var(--color-primary-disabled);
  color: var(--color-bg-muted-text);
  cursor: not-allowed;
}
.danger {
  background-color: var(--color-danger-light);
  color: var(--color-bg-text);
  cursor: pointer;
}
.danger:hover {
  background-color: var(--color-danger-dark);
}
.danger:active {
  background-color: var(--color-danger-dark-plus);
}
.danger:disabled {
  background-color: var(--color-primary-disabled);
  color: var(--color-bg-muted-text);
  cursor: not-allowed;
}

.danger_Outline {
  background-color: transparent;
  color: var(--color-danger-light);
  border: 1px solid var(--color-danger-light);
  cursor: pointer;
}
.danger_Outline:hover {
  background-color: var(--color-danger-dark);
  color: var(--color-bg-text);
  border: 1px solid var(--color-danger-dark);
}
.danger_Outline:active {
  background-color: var(--color-danger-dark-plus);
  color: var(--color-bg-text);
}

.logo-draw {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: drawLogo 3s ease forwards;
}

@keyframes drawLogo {
  to {
    stroke-dashoffset: 0;
  }
}
