@import "tailwindcss";
:root {
  /* Primary Colors */
  --color-primary-base: #38e07b;
  --color-primary-hover: #2fc56c;
  --color-primary-pressed: #26a55e;
  --color-primary-disabled: #b2efc8;
  --color-primary-focus: transparent; /* Value missing, set default */

  /* Secondary Colors */
  --color-secondary-base: #264533;
  --color-secondary-hover: #315b42;
  --color-secondary-pressed: #1c3526;
  --color-secondary-disabled: #a7b6af;
  --color-secondary-focus: transparent; /* Value missing, set default */

  /* Background Colors */
  --color-bg-base: #122117;
  --color-bg-card: #366347;
  --color-bg-text: #e2f3ea;
  --color-bg-muted-text: #a3b9ae;
  --color-bg-divider: #a3b9ae;

  /* Danger Colors */
  --color-danger-light: #fdf3f4;
  --color-danger-dark: #c50f1f;
  --color-danger-dark-plus: #960b18;

  /* Warning Colors */
  --color-warning-light: #fff9f5;
  --color-warning-dark: #f7630c;
  --color-warning-dark-plus: #bc4b09;

  /* Success Colors */
  --color-success-light: #f1faf1;
  --color-success-dark: #107c10;
  --color-success-dark-plus: #052505;
}

html,
body {
  background-color: var(--color-bg-base);
}
